@use "./base" as *;

// HERO SECTION

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-align: center;

  padding-top: 30px;
  padding-bottom: 100px;

  h1 {
    font-size: 1.5rem;
    // m-q
  }
}