@use "./base" as *;

// HERO SECTION

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-align: center;

  padding-top: 30px;
  padding-bottom: 125px;

  h1 {
    font-size: 1.5rem;
    // m-q
  }

  p {
    margin-bottom: 15px;
  }
}

// GRID SECTION

.info-grid {
  display: grid;
  grid-template-columns: 1fr;
  // m-q

  margin: 0 auto;
  padding-bottom: 60px;
}

// STAY_PRODUCTIVE SECTION

.stay-productive {
  padding-inline: 10px;
  padding-bottom: 150px;

  img {
    padding-bottom: 50px;
  }

  h2 {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 20px;
  }

  a {
    color: $accent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;

    &::after {
      content: "";
      width: 19ch;
      height: 2px;
      background-color: $accent;
      position: absolute;
      bottom: -5px;
    }
  }
}

.testimonials {
  
}